<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <mat-text-column name="id" headerText="ID"></mat-text-column>
  <mat-text-column name="name" headerText="Name"></mat-text-column>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="selectRow(row)"
  ></tr>
</table>
<mat-paginator
  [length]="dataSource.totalNumberOfDevice | async"
  [pageSize]="dataSource.pageSize"
  [pageSizeOptions]="[5, 50, 200]"
  (page)="dataSource.readPage($event.pageIndex, $event.pageSize)"
></mat-paginator>
