<mat-tab-group mat-align-tabs="start" *ngIf="device">
  <mat-tab label="Details">
    <mat-card>
      <mat-card-header>
        <mat-card-title>ADR State</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-actual-vs-desired
          label="Data rate:"
          [value]="device.dataRate"
        ></app-actual-vs-desired>
        <app-actual-vs-desired
          label="Tx power index:"
          [value]="device.txPowerIndex"
        ></app-actual-vs-desired>
        <app-actual-vs-desired
          label="Tx power"
          [value]="device.txPower"
          unit="dBm"
        ></app-actual-vs-desired>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Power source</mat-card-title>
      </mat-card-header>
      <mat-card-content class="detail">
        <div>
          <span>Power Source</span>
          <span>{{ device.powerSource }}</span>
        </div>
        <ng-container *ngIf="device.powerSource == 'POWER_BATTERY'">
          <div>
            <span>Update</span>
            <span>{{ device.statusUpdateTime | date: "long" }}</span>
          </div>
          <div>
            <span>Batterie %</span>
            <span>{{ device.batteryPercentage | number: "1.0-1" }}</span>
          </div>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Raw">
    <ngx-json-viewer [json]="device.raw"></ngx-json-viewer>
  </mat-tab>
</mat-tab-group>
