<mat-tab-group mat-align-tabs="start" *ngIf="device">
  <mat-tab label="Details">
    <mat-card>
      <mat-card-header>
        <mat-card-title>ADR State</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-actual-vs-desired
          label="Data rate:"
          [value]="device.dataRate"
        ></app-actual-vs-desired>
        <app-actual-vs-desired
          label="Tx power index:"
          [value]="device.txPowerIndex"
        ></app-actual-vs-desired>
        <app-actual-vs-desired
          label="Tx power"
          [value]="device.txPower"
          unit="dBm"
        ></app-actual-vs-desired>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Power source</mat-card-title>
      </mat-card-header>
      <mat-card-content class="detail">
        <div>
          <span>Power Source</span>
          <span>{{ device.powerSource }}</span>
        </div>
        <div
          *ngIf="device.powerSource == 'POWER_BATTERY'"
          matTooltip="Update at {{ device.statusUpdateTime | date: 'long' }}"
        >
          <span>Batterie %</span>
          <span>{{ device.batteryPercentage | number: "1.0-1" }}</span>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Margings</mat-card-title>
      </mat-card-header>
      <mat-card-content class="detail">
        <ng-container *ngIf="device.uplinkDate">
          <div matTooltip="Update at {{ device.uplinkDate | date: 'long' }}">
            <span>Uplink</span>
            <span>{{ device.uplinkMarging }}</span>
          </div>
        </ng-container>
        <ng-container *ngIf="device.statusUpdateTime">
          <div
            matTooltip="Update at {{ device.statusUpdateTime | date: 'long' }}"
          >
            <span>Downlink</span>
            <span>{{ device.downlinkMargin }}</span>
          </div>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Raw">
    <ngx-json-viewer [json]="device.raw"></ngx-json-viewer>
  </mat-tab>
</mat-tab-group>
